    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

    .form-1{
        min-width: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main{
        width: 32vw;
        height: auto;
        background-color: #fff5;
        backdrop-filter: blur(7px);
        box-shadow: 0 .4rem .8rem #0005;
    }
    
    .main-menu{
        width: 95%;
        max-height: calc(89% - .8rem);
        background-color: #fffb;
        margin: .8rem auto;
        border-radius:  .6rem;
        overflow: auto;
    }

    .table, th, td {
        padding: 1rem;
    }



