<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="container.css">
    <link>  
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Registro del menú</h1>
            <form id="menuForm">
                <input type="text" id="nombreMenu" placeholder="Nombre del plato" required>
                <input type="text" id="descripcionMenu" placeholder="Descripcion" required>
                <input type="number" id="precioMenu" placeholder="Precio" required>
                <button type="submit">Agregar</button>
            </form>

            <table id="menuTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    <!-- Modal para registro de platos -->
     <div id="editMenu" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Editar plato</h2>
            <form id="editFormMenu">
                <input type="hidden" id="editIdMenu">
                <input type="text" id="editNameMenu" placeholder="Nombre del palto" required>
                <input type="text" id="editDesMenu" placeholder="Descripcion" required>
                <input type="number" id="editPreMenu" placeholder="Precio" required>
                <button type="submit">Guardar cambios</button>
            </form>
        </div>
     </div>


    <script src="../controller/menu.js"></script>


</body>
</html>