<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>
    <link rel="stylesheet" href="pedido.css">
</head>
<body>
    <div class="container">
        <div class="column-pedidos">
            <h1>Pedidos</h1>
            <form id="pedidoForm">
                <div class="mb-3">
                    <input type="text" class="form-control" id="nombrePedido" placeholder="Nombre del cliente" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="descripcionPedido" placeholder="Descripcion" required>
                </div>
                <div class="mb-3">
                    <input type="date" class="form-control" id="fechaPedido" placeholder="Fecha" required>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" id="precioPedido" placeholder="Precio total" required>
                </div>
                <div class="mb-3">
                    <button type="submit">Agregar Pedido</button>
                </div>
            </form>

            <table id="pedidoTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Date</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>

     <!-- Modal para Pedidos -->
     <div id="editPedido" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Editar reserva</h2>
            <form id="editFormPe">
                <div class="mb-3">
                    <input type="hidden" id="editIdPe">
                </div>
                <div class="mb-3">
                    <input type="text" id="editNamePe" placeholder="Nombre del cliente" required>
                </div>
                <div class="mb-3">
                    <input type="text" id="editDesPe" placeholder="Descripcion" required>
                </div>
                <div class="mb-3">
                    <input type="date" id="editDatePe" placeholder="Fecha" required>
                </div>
                <div class="mb-3">
                    <input type="number" id="editPrecioPe" placeholder="Precio total" required>
                </div>
                <div class="mb-3">
                    <button type="submit">Guardar cambios</button>
                </div>
            </form>

        </div>
     </div>

    <script src="../controller/pedido.js"></script>


</body>
</html>