<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva</title>
    <link rel="stylesheet" href="container.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Reserva</h1>
            <form id="reservaForm">
                <input type="text" id="nombreReserva" placeholder="Nombre del cliente" required>
                <input type="email" id="emailReserva" placeholder="Correo electrónico" required>
                <input type="date" id="fechaReserva" required>
                <input type="time" id="horaReserva" required>
                <button type="submit">Agregar reserva</button>
            </form>

            <table id="reservaTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Correo electrónico</th>
                        <th>Date</th>
                        <th>Hora</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

     <!-- Modal para Reserva -->
     <div id="editReserva" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Editar reserva</h2>
            <form id="editFormRe">
                <input type="hidden" id="editIdRe">
                <input type="text" id="editNameRe" placeholder="Nombre" required>
                <input type="email" id="editEmailRe" placeholder="Correo electrónico" required>
                <input type="date" id="editDateRe" required>
                <input type="time" id="editTimeRe" required>
                <button type="submit">Guardar cambios</button>
            </form>
        </div>
     </div>

    <script src="../controller/reserva.js"></script>


</body>
</html>